################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CONTRIBUTING.md
/.gitignore
/.vs/morthodkai-inc-aac-rip-off-/copilot-chat/207727f3/sessions
/.vs/morthodkai-inc-aac-rip-off-/CopilotIndices
/.vs/CopilotSnapshots/53825DC6934BFC4992FCAC19C1E6E80E
/.vs
