################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CONTRIBUTING.md
/.gitignore
/.vs/morthodkai-inc-aac-rip-off-/copilot-chat/207727f3/sessions
/.vs/morthodkai-inc-aac-rip-off-/CopilotIndices
/.vs/CopilotSnapshots/53825DC6934BFC4992FCAC19C1E6E80E
/.vs
\[MorThodKaiInc] - game/game/Code/Game/SERAAC/obj/project.assets.json
\[MorThodKaiInc] - game/game/Code/Game/SERAAC/obj/project.nuget.cache
\[MorThodKaiInc] - game/game/Code/Game/SERAAC/obj/SERAAC.csproj.nuget.dgspec.json
\[MorThodKaiInc] - game/game/Code/Game/SERAAC/obj/SERAAC.csproj.nuget.g.props
\[MorThodKaiInc] - game/game/Code/Game/SERAAC/obj/SERAAC.csproj.nuget.g.targets
\[MorThodKaiInc] - game/game/Code/Game/SERAAC/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
\[MorThodKaiInc] - game/game/Code/Game/SERAAC/obj/Debug/net9.0/SERAAC.AssemblyInfo.cs
\[MorThodKaiInc] - game/game/Code/Game/SERAAC/obj/Debug/net9.0/SERAAC.AssemblyInfoInputs.cache
\[MorThodKaiInc] - game/game/Code/Game/SERAAC/obj/Debug/net9.0/SERAAC.assets.cache
\[MorThodKaiInc] - game/game/Code/Game/SERAAC/obj/Debug/net9.0/SERAAC.csproj.AssemblyReference.cache
\[MorThodKaiInc] - game/game/Code/Game/SERAAC/obj/Debug/net9.0/SERAAC.GeneratedMSBuildEditorConfig.editorconfig
